.bookstore {
  background: url(./images/data/bookstore.PNG) no-repeat center center/cover;;
}

.space-x {
  background: url(./images/data/space-x.png) no-repeat center center/cover;;
}

.budget-app {
  background: url(./images/data/budget-app.PNG) no-repeat center center/cover;;
}

.image1 {
  background: url(./images/data/image1.png) no-repeat center center/cover;;
}

.image2 {
  background: url(./images/data/image2.png) no-repeat center center/cover;;
}

.image3 {
  background: url(./images/data/image3.png) no-repeat center center/cover;;
}
  